

.container{
    text-align: center;
}

#searchWrapper{
    display: grid;
    grid-template-columns: auto auto;
    
}

form{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 4rem;
}

.error{
    
    margin-left: 5rem;
    color: red;
}
input{
    width: 80%;
}

button{
    margin-right: 12rem;
}



#pokemonList{
    margin: auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;

}

.pokemon{
    text-align: center;
    list-style-type: none;
    background-color: lightblue;
    border-radius: 3px;
    padding: 20px 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    'name image'
    'number image'
    'type image'
    'description image';
}

.pokemon h2{
    grid-area: name;
}

.pokemon .number{
    grid-area: number;
}

.pokemon .type{
    grid-area: type;
}

.pokemon .information{
    grid-area: description;
}

.pokemon img{
    grid-area: image;
}